  .login-box .appbutton {
    margin-left: 120px;
    color: black;
  }

  .signup-box .appbutton {
    margin-left: 120px;
    color: black;
  }

  body {
    font-family: sans-serif;
    background: blue;
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box h4 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .signup-box .user-box {
    position: relative;
  }

  .signup-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .chatlist {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .chatlist .chats {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .chatlist .chatlistthird {
    overflow-y: scroll;
    height: 350px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
  }

  .chatlist .chatlistthird .chats {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .chatbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .chatbox .chats {
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .chatbox .chatboxfirst {
    width: 100%;
    height: 85%;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    font-size: 16px;
    overflow-y: scroll;
    color: #fff;
    margin-top: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .chatbox .chatboxfirst .chatboxfirstinneryou {
    width: fit-content;
    padding: 6px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    background: green;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }

  .chatbox .chatboxfirst .chatboxfirstinnerhim {
    width: fit-content;
    padding: 6px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
  }

  .chatbox .chatboxsecond input {
    width: 100%;
    padding: 10px 0;
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .chatbox .chatboxsecond .chatboxbutton {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .searchfirst {
    left: 35%;
    width: 400px;
    position: absolute;
  }

  .searchfirst input {
    width: 100%;
    padding: 10px 0;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .searchfirst .searchbutton {
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
    margin-top: 50px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .searchsecond {
    width: 400px;
    height: 340px;
    left: 35%;
    top: 20%;
    position: absolute;
    overflow-y: scroll;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .searchsecond .searchsecondinner {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }

  .logoutbutton {
    left: 35%;
    width: 400px;
    bottom: 0;
    color: white;
    padding: 10px;
    position: absolute;
    font-size: 16px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: center;
  }